.today_circle {
  border-radius: 50%;
  background-color: #6c60ff;
  width: 104px;
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.today_circle span {
  color: white;
}
