.event {
  position: absolute;
  width: 97%;
  background-color: #2b505e;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  color: #fff;
  cursor: pointer;
  border-radius: 12px;
  border-left: 12px solid #04dec4;
  margin-left: 2px;
  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    margin-left: 7px;
  }
  &__time {
    position: absolute;
    top: 80%;
    animation: identifier 0.5s ease-in-out forwards;
    display: none;
    z-index: 2;
  }
  &:hover {
    border-right: 1px solid #04dec4;
    border-top: 1px solid #04dec4;
    border-bottom: 1px solid #04dec4;
  }
}
.delete-event-btn {
  position: absolute;
  top: -35px;
  right: -35px;
  transform: rotate(45deg);
  background-color: transparent;
  border: none;
  font-size: 32px;
  opacity: 0.6;
  background: #eee;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #ccc;
  }
}
