.delete-btn {
  background-color: rgb(225, 33, 255);
  border-radius: 35px;
  height: 13px;
  font-size: 13px;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid white;
  }
  &.slide-out {
    animation-name: slideOut;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}
@keyframes slideOut {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 70px;
    opacity: 1;
  }
}
.svg-icon {
  width: 1em;
  height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}
.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}
