.calendar {
  &__time-scale {
    height: 100%;
    width: 48px;
  }
}
.time-slot {
  height: 60px;
  width: 48px;
  text-align: right;
  z-index: 88;
  &__time {
    position: relative;
    font-size: 20px;
    color: #9a9fa3;
    z-index: 99999;
    margin-right: 4px;
  }
}
