.button {
    height: 70px;
    border: none;
    outline: none;
    position: relative;
    text-align: center;
    transition-duration: 0.2s;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    font-weight: 900;
    &:hover {
      text-shadow: 3px 1px 6px rgba(255, 255, 255, 0.48);
    }
    &:before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: #fff;
      opacity: 0.3;
      transition: all 1s ease;
    }
    &:hover:before {
       width: 100%;   
    } 
  }
.icon-button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
  
    &:hover {
      color: cornflowerblue;
    }
  }
.popup {
    &__content {
      position: absolute;
      background: #fff;
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  }
.hidden {
    display: none;
  }