* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}
button:focus {
    outline: none;
}
input:focus {
    outline: none;
}
textarea:focus  {
    outline: none;
}